<h1>New addition</h1>

<form action="/wizard_add">
  <label for="a"> Add this: </label>
  <input id="a" type="text" name = "first_num">

  <label for="b"> to this: </label>
  <input id="b" type="text"  name = "second_num">
  <button>Add!</button>
</form>
