<h1>New Division</h1>

<form action="/wizard_divide">
  <label for="a"> Divide this: </label>
  <input id="a" type="text" name = "first_num">

  <label for="b"> by this: </label>
  <input id="b" type="text"  name = "second_num">
  <button>divide!</button>
</form>
