<h1>New Multiplication</h1>

<form action="/wizard_multiply">
  <label for="a"> Multiply this: </label>
  <input id="a" type="text" name = "first_num">

  <label for="b"> by this: </label>
  <input id="b" type="text"  name = "second_num">
  <button>multiply!</button>
</form>
