<h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label for="a"> Subtract this: </label>
  <input id="a" type="text" name = "second_num">

  <label for="b"> from this: </label>
  <input id="b" type="text"  name = "first_num">
  <button>Subtract!</button>
</form>
